.tail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quote {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.4rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
}
